node_modules/
frontend/node_modules/.package-lock.json
frontend/node_modules/@types/node/diagnostics_channel.d.ts
frontend/node_modules/@types/node/globals.d.ts
frontend/node_modules/@types/node/http2.d.ts
frontend/node_modules/@types/node/inspector.d.ts
frontend/node_modules/@types/node/module.d.ts
frontend/node_modules/@types/node/package.json
frontend/node_modules/@types/node/perf_hooks.d.ts
frontend/node_modules/@types/node/process.d.ts
frontend/node_modules/@types/node/README.md
frontend/node_modules/@types/node/test.d.ts
frontend/node_modules/@types/node/tls.d.ts
frontend/node_modules/@types/node/url.d.ts
frontend/node_modules/@types/node/util.d.ts
frontend/node_modules/@types/node/vm.d.ts
frontend/node_modules/@types/node/worker_threads.d.ts
frontend/node_modules/undici-types/dispatcher.d.ts
frontend/node_modules/undici-types/eventsource.d.ts
frontend/node_modules/undici-types/filereader.d.ts
frontend/node_modules/undici-types/interceptors.d.ts
frontend/node_modules/undici-types/package.json
frontend/node_modules/undici-types/patch.d.ts
frontend/node_modules/undici-types/readable.d.ts
frontend/node_modules/undici-types/webidl.d.ts
frontend/node_modules/undici-types/websocket.d.ts
frontend/node_modules/.package-lock.json
frontend/node_modules/.vite/deps/_metadata.json
frontend/node_modules/.vite/deps/@mui_material_CssBaseline.js
frontend/node_modules/.vite/deps/@mui_material_CssBaseline.js.map
frontend/node_modules/.vite/deps/@mui_material_styles.js
frontend/node_modules/.vite/deps/@mui_material_styles.js.map
frontend/node_modules/.vite/deps/@mui_material.js
frontend/node_modules/.vite/deps/@mui_material.js.map
frontend/node_modules/.vite/deps/axios.js
frontend/node_modules/.vite/deps/axios.js.map
frontend/node_modules/.vite/deps/chunk-EWTE5DHJ.js
frontend/node_modules/.vite/deps/chunk-EWTE5DHJ.js.map
frontend/node_modules/.vite/deps/chunk-JYKIZ3LS.js
frontend/node_modules/.vite/deps/chunk-JYKIZ3LS.js.map
frontend/node_modules/.vite/deps/chunk-OT5EQO2H.js
frontend/node_modules/.vite/deps/chunk-OT5EQO2H.js.map
frontend/node_modules/.vite/deps/chunk-OU5AQDZK.js
frontend/node_modules/.vite/deps/chunk-OU5AQDZK.js.map
frontend/node_modules/.vite/deps/chunk-RPG4OXW6.js
frontend/node_modules/.vite/deps/chunk-RPG4OXW6.js.map
frontend/node_modules/.vite/deps/chunk-WRD5HZVH.js
frontend/node_modules/.vite/deps/chunk-WRD5HZVH.js.map
frontend/node_modules/.vite/deps/chunk-XHBJRCXJ.js
frontend/node_modules/.vite/deps/chunk-XHBJRCXJ.js.map
frontend/node_modules/.vite/deps/i18next.js
frontend/node_modules/.vite/deps/i18next.js.map
frontend/node_modules/.vite/deps/package.json
frontend/node_modules/.vite/deps/react_jsx-dev-runtime.js
frontend/node_modules/.vite/deps/react_jsx-dev-runtime.js.map
frontend/node_modules/.vite/deps/react_jsx-runtime.js
frontend/node_modules/.vite/deps/react_jsx-runtime.js.map
frontend/node_modules/.vite/deps/react-dom_client.js
frontend/node_modules/.vite/deps/react-dom_client.js.map
frontend/node_modules/.vite/deps/react-dom.js
frontend/node_modules/.vite/deps/react-dom.js.map
frontend/node_modules/.vite/deps/react-i18next.js
frontend/node_modules/.vite/deps/react-i18next.js.map
frontend/node_modules/.vite/deps/react-router-dom.js
frontend/node_modules/.vite/deps/react-router-dom.js.map
frontend/node_modules/.vite/deps/react.js
frontend/node_modules/.vite/deps/react.js.map
frontend/node_modules/.vite/deps_temp_2553da14/@mui_material_CssBaseline.js
frontend/node_modules/.vite/deps_temp_2553da14/@mui_material_CssBaseline.js.map
frontend/node_modules/.vite/deps_temp_2553da14/@mui_material_styles.js
frontend/node_modules/.vite/deps_temp_2553da14/@mui_material_styles.js.map
frontend/node_modules/.vite/deps_temp_2553da14/@mui_material.js
frontend/node_modules/.vite/deps_temp_2553da14/@mui_material.js.map
frontend/node_modules/.vite/deps_temp_2553da14/axios.js
frontend/node_modules/.vite/deps_temp_2553da14/axios.js.map
frontend/node_modules/.vite/deps_temp_2553da14/chunk-EWTE5DHJ.js
frontend/node_modules/.vite/deps_temp_2553da14/chunk-EWTE5DHJ.js.map
frontend/node_modules/.vite/deps_temp_2553da14/chunk-GJBH3XJK.js
frontend/node_modules/.vite/deps_temp_2553da14/chunk-GJBH3XJK.js.map
frontend/node_modules/.vite/deps_temp_2553da14/chunk-GRMYKALW.js
frontend/node_modules/.vite/deps_temp_2553da14/chunk-GRMYKALW.js.map
frontend/node_modules/.vite/deps_temp_2553da14/chunk-OT5EQO2H.js
frontend/node_modules/.vite/deps_temp_2553da14/chunk-OT5EQO2H.js.map
frontend/node_modules/.vite/deps_temp_2553da14/chunk-OU5AQDZK.js
frontend/node_modules/.vite/deps_temp_2553da14/chunk-OU5AQDZK.js.map
frontend/node_modules/.vite/deps_temp_2553da14/chunk-RLFR37JD.js
frontend/node_modules/.vite/deps_temp_2553da14/chunk-RLFR37JD.js.map
frontend/node_modules/.vite/deps_temp_2553da14/chunk-WRD5HZVH.js
frontend/node_modules/.vite/deps_temp_2553da14/chunk-WRD5HZVH.js.map
frontend/node_modules/.vite/deps_temp_2553da14/i18next.js
frontend/node_modules/.vite/deps_temp_2553da14/i18next.js.map
frontend/node_modules/.vite/deps_temp_2553da14/package.json
frontend/node_modules/.vite/deps_temp_2553da14/react_jsx-dev-runtime.js
frontend/node_modules/.vite/deps_temp_2553da14/react_jsx-dev-runtime.js.map
frontend/node_modules/.vite/deps_temp_2553da14/react_jsx-runtime.js
frontend/node_modules/.vite/deps_temp_2553da14/react_jsx-runtime.js.map
frontend/node_modules/.vite/deps_temp_2553da14/react-dom_client.js
frontend/node_modules/.vite/deps_temp_2553da14/react-dom_client.js.map
frontend/node_modules/.vite/deps_temp_2553da14/react-dom.js
frontend/node_modules/.vite/deps_temp_2553da14/react-dom.js.map
frontend/node_modules/.vite/deps_temp_2553da14/react-i18next.js
frontend/node_modules/.vite/deps_temp_2553da14/react-i18next.js.map
frontend/node_modules/.vite/deps_temp_2553da14/react-router-dom.js
frontend/node_modules/.vite/deps_temp_2553da14/react-router-dom.js.map
frontend/node_modules/.vite/deps_temp_2553da14/react.js
frontend/node_modules/.vite/deps_temp_2553da14/react.js.map
frontend/node_modules/@babel/runtime/package.json
frontend/node_modules/@babel/runtime/helpers/regeneratorRuntime.js
frontend/node_modules/@babel/runtime/helpers/esm/regeneratorRuntime.js
frontend/node_modules/@types/node/diagnostics_channel.d.ts
frontend/node_modules/@types/node/globals.d.ts
frontend/node_modules/@types/node/http2.d.ts
frontend/node_modules/@types/node/inspector.d.ts
frontend/node_modules/@types/node/module.d.ts
frontend/node_modules/@types/node/package.json
frontend/node_modules/@types/node/perf_hooks.d.ts
frontend/node_modules/@types/node/process.d.ts
frontend/node_modules/@types/node/README.md
frontend/node_modules/@types/node/test.d.ts
frontend/node_modules/@types/node/tls.d.ts
frontend/node_modules/@types/node/url.d.ts
frontend/node_modules/@types/node/util.d.ts
frontend/node_modules/@types/node/vm.d.ts
frontend/node_modules/@types/node/worker_threads.d.ts
frontend/node_modules/undici-types/dispatcher.d.ts
frontend/node_modules/undici-types/eventsource.d.ts
frontend/node_modules/undici-types/filereader.d.ts
frontend/node_modules/undici-types/interceptors.d.ts
frontend/node_modules/undici-types/package.json
frontend/node_modules/undici-types/patch.d.ts
frontend/node_modules/undici-types/readable.d.ts
frontend/node_modules/undici-types/webidl.d.ts
frontend/node_modules/undici-types/websocket.d.ts
